<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UnitExpertMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.vo.UnitExpertVo">
        <id column="id" property="id" />
        <result column="unit_name" property="unit_name" />
        <result column="expert_name" property="expert_name" />
    </resultMap>

</mapper>
