


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>后台s管理</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
<style>

</style>
</head>

<body>
<div class="login_box">
    <div class="login_l_img"><img src="/picture/login-img.png" /></div>
    <div class="login">
        <div class="login_logo"><a href="#"><img src="/picture/login_logo.png" /></a></div>
        <div class="login_name">
            <p>登录</p>
        </div>
        <form action="/login" method="post">
            用户名 <input name="userId" type="text">
            密码<input name="pwd" type="text">
            提交<input type="submit">
        </form>

    </div>

    <h1>
    <a href="/api">       <div class="myP"> 这里包含了所有的接口 请点击查看 </div> </a>
    </h1>

   </h1>
    <div class="copyright">文式集团 版权所有©2021-2021 技术支持电话：15838693896</div>
</div>
</body>
</html>